<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Reetu_School</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Reetu_School.styles.css" asp-append-version="true" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <style>
        .haeder {
            width: 100%;
            box-shadow: 0px 2px 10px 0px #ccc;
            display: flex;
            position: sticky; 
            top: 0; 
            background-color: white; 
            z-index: 1000; 
        }

        .haederleft {
            width: 68%;
            display: flex;
            margin-left:2%;
        }

        .logo{
            padding:5px;
        }
        .haederright {
            width: 10%;
            display: flex;
        }
        .menu>ul{
            display:flex;
            list-style:none;
            gap:40px;
            align-items:center;
            justify-content:space-around;
            padding: 10px;
            font-weight:600;
        }
        .logoheader{
            width: 75px;
            height: 46px;
        }

        .fontcol {
            color:red !important;
            text-decoration:none !important;
        }

    .footer {
        background-color: tomato; 
        padding: 100px; 
        text-align: center;
        display: block;
        visibility: visible;
    }
    body{
        overflow-x:hidden;
    }
    </style>
</head>
<body>
    <div class="haeder">
        <div class="haederleft">
            <div class="logo">
                <a href="/Home/Index">
                    <img src="~/images/logo6.png" class="logoheader" />
                </a>
              
            </div>
           
        </div>
        <div class="haederright">
            <div class="menu">
                <ul>
                    <li><a href="/Home/About" class="fontcol">About</a></li>
                    <li><a href="/Account/SignUp" class="fontcol">SignUp</a></li>
                    <li><a href="/Account/Login" class="fontcol">Login</a></li>
                    <li><a href="/Home/Contact" class="fontcol">Contact</a></li>
                </ul>

            </div>
        </div>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="footer">

        </div>
    </footer>
    <script src="~/js/jquery-3.5.1.min.js"></script>
    <script src="~/js/jquery-migrate-3.3.2.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/sweetalert2@10.js"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
