@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
<style>
    .block {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: #fff;
        margin: 20px auto;
        padding: 23px;
        box-sizing: border-box;
        width: 97% !important;
        margin-left: 24%;
    }
</style>

<div class="block">
    <h2>Proper Design Layout</h2>
    <p>This is a sample text aligned properly.</p>
</div>
