@{
    ViewData["Title"] = "Cards";
}
<style>
    .card{
        margin-top: 8px;
        border:2px solid teal;
        height:280px;
    }
    h5{
        color: #fff;
        background-color: teal;
        text-align: center;
        padding: 9px;
        margin-bottom: 0px;
    }
    thead{
        background-color:teal;
    }

    .table-responsive {
        margin:0;
        padding:0;
    }


</style>
<div class="container">
    <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <h5>First Card</h5>
                        <table class="table table-responsive table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                <th>FatherName</th>
                                <th>Class</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>2</td>
                                    <td>Reetu Verma</td>
                                    <td>Ram Harsh Verma</td>
                                    <td>BTech</td>
                                </tr>
                            <tr>
                                <td>3</td>
                                <td>Reetu Verma</td>
                                <td>Ram Harsh Verma</td>
                                <td>BTech</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Reetu Verma</td>
                                <td>Ram Harsh Verma</td>
                                <td>BTech</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Reetu Verma</td>
                                <td>Ram Harsh Verma</td>
                                <td>BTech</td>
                            </tr>
                            </tbody>
                        </table>
                   
                </div>
            </div>
             <div class="col-md-4">
                <div class="card">
                    <h5>Second Card</h5>
                <table class="table table-responsive table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>FatherName</th>
                            <th>Class</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2</td>
                            <td>Reetu Verma</td>
                            <td>Ram Harsh Verma</td>
                            <td>BTech</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Reetu Verma</td>
                            <td>Ram Harsh Verma</td>
                            <td>BTech</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Reetu Verma</td>
                            <td>Ram Harsh Verma</td>
                            <td>BTech</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Reetu Verma</td>
                            <td>Ram Harsh Verma</td>
                            <td>BTech</td>
                        </tr>
                    </tbody>
                </table>


            </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <h5>Third Card</h5>
                <table class="table table-responsive table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>FatherName</th>
                            <th>Class</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2</td>
                            <td>Reetu Verma</td>
                            <td>Ram Harsh Verma</td>
                            <td>BTech</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Reetu Verma</td>
                            <td>Ram Harsh Verma</td>
                            <td>BTech</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Reetu Verma</td>
                            <td>Ram Harsh Verma</td>
                            <td>BTech</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Reetu Verma</td>
                            <td>Ram Harsh Verma</td>
                            <td>BTech</td>
                        </tr>
                    </tbody>
                </table>


            </div>
            </div>
        </div>
   
</div>