
@{
    ViewData["Title"] = "Contact";
}
<style>
    .cus-img {
        background-image: url('/images/contact-us.jpg');
        background-size:cover;
        background-repeat:no-repeat;
        width:100%;
        margin-bottom:9%;
        height:200px;
    }
    .container{
        width: 100% !important;
        padding-right: 7px !important;
        padding-left: 7px !important;
        margin-right: auto !important;
        margin-left: auto !important;
        max-width: 1326px !important;
    }
    h2{
        color: white;
        font-size: 63px;
        text-align: center;
        font-weight: bold;
        margin-top: 65px;
    }
    h4{
        text-align:center;
        font-weight:bold;
        color:tomato;
        margin-top:75px;
        font-size:35px;
    }
    .card{
        height:400px;
        width:800px;
        box-shadow:0px 0px 10px 2px #ccc;
        margin-bottom:40%;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
</style>
<div class="container">
   <div class="row">
       <div class="col-sm-12 cus-img">
           <img src="" />
            <h2>Contact Us</h2>
            <h4>Get In Touch</h4>
       </div>
        <div class="card">

        </div>
   </div>
  
</div>

