@{
    ViewData["Title"] = "Country";
}
<link href="~/css/jquery.datatables.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/fontawesome.min.css" integrity="sha512-B46MVOJpI6RBsdcU307elYeStF2JKT87SsHZfRSkjVi4/iZ3912zXi45X5/CBr/GbCyLx6M1GQtTKYRd52Jxgw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
    .block {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: #fff;
        margin-top: 2px;
        padding: 23px;
    }

    .buttons {
        margin-top: 35px;
    }

    .clearfix {
        margin-top: 40px;
    }

    .table-bordered th,
    .table-bordered td {
        padding: 8px;
        text-align: center;
    }

</style>
<div class="block">
    <h6>Add User Role</h6>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Country<span style="color:red">*</span></label>
            <input type="text" class="form-control" id="txtCountry" />
        </div>
        <div class="col-md-3">
            <label>CountryId<span style="color:red">*</span></label>
            <input type="text" class="form-control" id="txtCountryId" />
        </div>
        <div class="col-md-3">
            <button class="btn btn-success btn-sm buttons" onclick="InsertCountry();">Submit</button>
            <button class="btn btn-info btn-sm buttons" onclick="Cancel();">Cancel</button>
        </div>

    </div>
    <hr />
    <div class="clearfix">
        <h6>Country Details</h6>
        <div class="row">
            <table id="Countrylist" class="table-bordered table-striped">
                <thead style="background-color:#98891e99;">
                    <tr>
                        <th>Sr.No</th>
                        <th>Country</th>
                        <th>CountryId</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

        </div>
    </div>
</div>


@section Scripts{
    <script src="~/js/jquery-3.5.1.min.js"></script>
    <script src="~/js/jquery.datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            GetCountry(0);
        });
        var _Id = '0';
        function InsertCountry() {
            var Country = $('#txtCountry').val();
            var CountryId = $('#txtCountryId').val();

            if (Country === '') {
                alert('#txtCountry').focus();
                return;
            }
            if (CountryId === '') {
                alert('#txtCountryId').focus();
                return;
            }
          
            var obj = new Object();
            obj.Id = _Id;
            obj.Country = Country;
            obj.CountryId = CountryId;
            Swal.fire({
                title: 'Are you sure?',
                text: "You want to submit detail!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        url: '/Home/InsertCountry',
                        type: 'POST',
                        data: JSON.stringify(obj),
                        contentType: 'application/json; charset=UTF-8',
                        success: function (data) {
                            if (data.responseCode === 200) {
                                swal.fire(
                                    'Success!',
                                    data.responseMessage,
                                    'success').then(function () {
                                        location.reload();
                                    });
                            }
                            else {
                                console.log(data);
                                alert(data.responseMessage);
                            }
                        },
                        error: function (xhr) {
                            console.log(xhr);
                            Swal.fire('Exception!', 'INTERNAL SERVER ERROR.', 'error');
                        }
                    });
                }
            });
        }
        function GetCountry(Id) {
            $.ajax({
                url: '/Home/GetCountry?Id=' + Id,
                type: 'GET',
                dataType: 'json',
                contentType: 'application/json; charset=UTF-8',
                success: function (data) {
                    if (data.responseCode === 200) {
                        var responseData = data.responseResult;
                        console.log(responseData);
                        $('#Countrylist').DataTable({
                            data: responseData,
                            destroy: true,
                            lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                            columns: [
                                {
                                    data: null,
                                    searchable: false,
                                    sortable: false,
                                    className: "text-center",
                                    render: function (data, type, row, meta) {
                                        return meta.row + meta.settings._iDisplayStart + 1;
                                    }
                                },
                                { data: "Country" },
                                { data: "CountryId" },
                             
                            ]
                        });
                    } else {
                        console.error("Unexpected response code:", data.responseCode);
                    }
                },
                error: function (xhr, status, error) {
                    console.error("Error in AJAX request:", status, error);
                }
            });
        }
        function Cancel() {
            window.location.reload();
        }
    </script>
}