@{
    ViewData["Title"] = "Country";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-11">
                                    <h5>Add Country</h5>
                                </div>
                                <div class="col-md-1">
                                    <button type="button" class="btn btn-primary waves-effect waves-light"
                                            data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                        Add
                                    </button>
                                </div>
                            </div>
                            <div class="row col-md-3">
                               <input type="text" class="form-control" id="text_search" />
                             
                            </div>
                                                            <button class="btn btn-sm btn-primary">Search</button></div>
                         
                            <div class="row">
                            </div>
                            <hr />
                            <h5>Country Details</h5>
                            <div class="table-responsive">
                                <table id="CountryTable" class="table table-bordered table-striped mb-0">
                                    <thead class="table-primary">
                                        <tr>
                                            <th style="text-align:center;">Sr.No</th>
                                            <th style="text-align:center;">Country</th>
                                            <th style="text-align:center;">CountryId</th>
                                        </tr>
                                    </thead>
                                    <tbody id="Countrylist"></tbody>
                                </table>
                            </div>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-6 col-md-4 col-xl-3">

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
         data-bs-keyboard="false" tabindex="-1" role="dialog"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">
                        Add Country
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <label>Country<span style="color:red">*</span></label>
                        <input type="text" class="form-control" id="txtCountry" />
                    </div>
                    <div class="col-md-12">
                        <label>CountryId<span style="color:red">*</span></label>
                        <input type="text" class="form-control" id="txtCountryId" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light waves-effect" data-bs-dismiss="modal" onclick="Cancel();">
                        Close
                    </button>
                    <button type="button" class="btn btn-primary waves-effect waves-light" onclick="InsertCountry();">Save </button>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script>
        $(document).ready(function () {
            GetCountry(0);

            $('#txtCountry').autocomplete({
                autoFocus:False,
                autoFill:false
            });
        });

        var _Id = '0';

        function InsertCountry() {
            var Country = $('#txtCountry').val();
            var CountryId = $('#txtCountryId').val();

            if (Country === '') {
                $('#txtCountry').focus();
                return;
            }
            if (CountryId === '') {
                $('#txtCountryId').focus();
                return;
            }

            var obj = { Id: _Id, Country: Country, CountryId: CountryId };

            Swal.fire({
                title: 'Are you sure?',
                text: "You want to submit detail!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        url: '/Home/InsertCountry',
                        type: 'POST',
                        data: JSON.stringify(obj),
                        contentType: 'application/json; charset=UTF-8',
                        success: function (data) {
                            if (data.responseCode === 200) {
                                Swal.fire(
                                    'Success!',
                                    data.responseMessage,
                                    'success'
                                ).then(function () {
                                    location.reload();
                                });
                            } else {
                                alert(data.responseMessage);
                            }
                        },
                        error: function (xhr) {
                            Swal.fire('Exception!', 'INTERNAL SERVER ERROR.', 'error');
                        }
                    });
                }
            });
        }

        function GetCountry(Id) {
            let obj = { Id: Id };
            $.post('/Home/GetCountry', obj).done(function (res) {
                if (res.responseCode == 200) {
                    res = res.responseResult;
                    let html = '';
                    if (Array.isArray(res)) {
                        res.forEach((v, i) => {
                            html += `
                                <tr>
                                    <td style="text-align:center;">${i + 1}</td>
                                    <td style="text-align:center;">${v.Country}</td>
                                    <td style="text-align:center;">${v.CountryId}</td>
                                </tr>`;
                        });
                    } else {
                        console.error('Response is not an array:', res);
                    }
                    $('#Countrylist').empty().append(html);
                } else {
                    console.error('Response code not 200:', res.responseCode);
                }
            }).fail(function (xhr) {
                console.log(xhr);
            });
        }

        function Cancel() {
            window.location.reload();
        }

    </script>
}