
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="container">
    <div class="row cus-card">
        <div class="col-md-3">
            <div class="card1">
                <div class="row">
                    <div class="col-md-6" style="float:left;padding:14px;">
                        <span class="font-icon"><i class="fa fa-users"></i></span>
                    </div>
                    <div class="col-md-6" style="float:right;font-size:24px;">
                        Students<br /><span style="display: flex;justify-content: center;">0</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card1">
                <div class="row">
                    <div class="col-md-6" style="float:left;padding:14px;">
                        <span class="font-icon"><i class="fas fa-chalkboard-teacher"></i></span>
                    </div>
                    <div class="col-md-6" style="float:right;font-size:24px;">
                        Teachers <br /><span style="display: flex;justify-content: center;">0</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card1">
                <div class="row">
                    <div class="col-md-6" style="float:left;padding:14px;">
                        <span class="font-icon"><i class="fa fa-money-bill-alt"></i></span>
                    </div>
                    <div class="col-md-6" style="float:right;font-size:24px;">
                        Income<br /><span style="display: flex;justify-content: center;">0</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card1">
                <div class="row">
                    <div class="col-md-6" style="float:left;padding:14px;">
                        <span class="font-icon"><i class="fa fa-percentage"></i></span>
                    </div>
                    <div class="col-md-6" style="float:right;font-size:24px;">
                        Attandance<br /><span style="display: flex;justify-content: center;">0</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Repeat cards as needed -->
    </div>
</div>





