@{
    ViewData["Title"] = "Home Page";
}
@*<style>
    .page-header{
        width:100%;
    }
</style>
<section id="mainheader">
<img src="https://tse1.mm.bing.net/th?id=OIP.YXXxQ1Tjvp0mFcMHhVrpNQHaEK&pid=Api&P=0&h=180" />
<div class="page-header">
<div class="site-container">
    <div class="page-header-items">
        <artical>
            <h2>Our Website</h2>
        </artical>
    </div>
</div>
</div>
</section>
<section>
<div class="site Container">

</div>

</section>*@