@{
    ViewData["Title"] = "MasterAndroidService";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-11">
                                    <h5>Add Service</h5>
                                </div>
                                <div class="col-md-1">
                                    <button type="button" class="btn btn-primary waves-effect waves-light"
                                            data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                        Add
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                            </div>
                            <hr />
                            <h5>Service Details</h5>
                            <div class="table-responsive">
                                <table id="Servicelist" class="table table-bordered table-striped mb-0">
                                    <thead class="table-primary">
                                        <tr>
                                            <th>Sr.No</th>
                                            <th>Service Name</th>
                                            <th>Display Name</th>
                                            <th>IsActive</th>
                                            <th>EntryAt</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tableServicelist"></tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-xl-3">
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
             data-bs-keyboard="false" tabindex="-1" role="dialog"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">
                            Add Service
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-3">
                            <label>Service Name<span style="color:red">*</span></label>
                            <input type="text" class="form-control" id="txtServicename" />
                        </div>
                        <div class="col-md-3">
                            <label>Display Name<span style="color:red">*</span></label>
                            <input type="text" class="form-control" id="txtDisplayNames" />
                        </div>
                        <div class="col-md-3">
                            <label class="switch" style="margin-top: 33px;">
                                <input type="checkbox" id="isactive" checked>
                                <span class="slider round"></span>
                            </label><span>Is Active</span>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light waves-effect" data-bs-dismiss="modal" onclick="Cancel();">
                            Close
                        </button>
                        <button type="button" class="btn btn-primary waves-effect waves-light" onclick="AddServices();">Save </button>
                    </div>
                </div>
            </div>
        </div>
    </div>>
</div>
@section Scripts{
    <script src="~/js/jquery-3.5.1.min.js"></script>
    <script src="~/js/jquery.datatables.min.js"></script>
    <script src="~/js/bootstrap-toggle.min.js"></script>
    <script>
        $(document).ready(function () {
            GetServiceDetails(0);
        });
        var _Id = '0';
        function AddServices() {
            var Service = $('#txtServicename').val();
            var DisplayName = $('#txtDisplayNames').val();
            var IsActive = $('#isactive').is(':checked') ? true : false;
            console.log(IsActive);

            if (!Service) {
                $('#txtServicename').focus();
                Swal.fire('Error', 'Service Name is required', 'error');
                return;
            }
            if (!DisplayName) {
                $('#txtDisplayNames').focus();
                Swal.fire('Error', 'Display Name is required', 'error');
                return;
            }

            var obj = {
                Id: _Id,
                Service: Service,
                DisplayName: DisplayName,
                IsActive: IsActive
            };
            Swal.fire({
                title: 'Are you sure?',
                text: "You want to submit detail!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        url: '/Home/AddServices',
                        type: 'POST',
                        data: JSON.stringify(obj),
                        contentType: 'application/json; charset=UTF-8',
                        success: function (data) {
                            if (data.responseCode === 200) {
                                Swal.fire('Success!', data.responseMessage, 'success').then(() => {
                                    location.reload();
                                });
                            } else {
                                console.log(data);
                                Swal.fire('Error', data.responseMessage, 'error');
                            }
                        },
                        error: function (xhr) {
                            console.log("Error response: ", xhr.responseText);
                            Swal.fire('Error', 'Internal Server Error', 'error');
                        }
                    });
                }
            });
        }

        function Cancel() {
            window.location.reload();
        }
        let GetServiceDetails = (Id) => {

            let obj = {
                Id: _Id
            };
            $.post('/Home/GetServiceDetails', obj).done(function (res) {
                if (res.responseCode == 200) {
                    res = res.responseResult;
                    let html = '';
                    if (Array.isArray(res)) {
                        res.forEach((v, i) => {
                            html += `
                                    <tr>
                                    <td style="text-align:center;">${v.Id}</td>
                                             <td style="text-align:center;">${v.Service}</td>
                                                      <td style="text-align:center;">${v.DisplayName}</td>
                                                      <td>
                                                         <label class="switch">
                                                                  <input type="checkbox" ${v.IsActive == true ? 'checked' : ''} /><span class="slider round"></span>
                                                         </label>
                                                      </td>
                                                      <td style="text-align:center;">${v.CreatedDate}</td>
                                                       <td><button class="btn btn-success btn-sm" onclick="EditService(${v.Id})"><i class="fa fa-edit"></i></button>
                                                                &nbsp;<button class="btn btn-danger btn-sm" onclick="DeleteService(${v.Id})"><i class="fa fa-trash"></i></button>
                                                      </td>
                                    </tr>
                                    `;
                        });
                    } else {
                        console.error('Response is not an array:', res);

                    }
                    $('#tableServicelist').empty().append(html);

                } else {
                    console.error('Response code not 200:', res.responseCode);
                }
            }).fail(function (xhr) {

                console.log(xhr);
            });
        };
        let EditService = (Id) =>{
            _Id = Id;
            let obj = {
                Id:Id
            };
            $.post('/Home/GetServiceDetails',obj).done(function(res){
                if(res.responseCode == 200){
                    res=res.responseResult[0];
                    $('#txtServicename').val(res.Service);
                    $('#txtDisplayNames').val(res.DisplayName);
                    $('#isactive').prop('checked',res.IsActive);
                    $('#staticBackdrop').modal('show');
                }
            }).fail(function(xhr){
                console.log(xhr);
            });
        };

        function DeleteService(Id) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You want to submit detail!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes'
            }).then((result) => {
                if (result.isConfirmed) {
                    var obj = { Id: Id };
                    $.ajax({
                        url: '/Home/DeleteService',
                        type: 'Delete',
                        data: JSON.stringify(obj),
                        contentType: 'application/json; charset=UTF-8',
                        success: function (data) {
                            if (data.responseCode === 200) {
                                swal.fire(
                                    'Success!',
                                    data.responseMessage,
                                    'success').then(function () {
                                        location.reload();
                                    });
                            }
                            else {
                                console.log(data);
                                alert(data.responseMessage);
                            }
                        },
                        error: function (xhr) {
                            console.log(xhr);
                            Swal.fire('Exception!', 'INTERNAL SERVER ERROR.', 'error');
                        }
                    });
                }
            });
        }
    </script>
}









