

@{
    ViewData["Title"] = "MasterUserRole";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-11">
                                    <h5>Add User Role</h5>
                                </div>
                                <div class="col-md-1">
                                    <button type="button" class="btn btn-primary waves-effect waves-light"
                                            data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                        Add
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                            </div>
                            <hr />
                            <h5>UserRole Details</h5>
                            <div class="table-responsive">
                                <table id="tablelist" class="table table-bordered table-striped mb-0">
                                    <thead class="table-primary">
                                        <tr>
                                            <th>Sr.No</th>
                                            <th>User Role</th>
                                            <th>IsActive</th>
                                            <th>Optional Data</th>
                                            <th>EntryAt</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tableServicelist"></tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="col-sm-6 col-md-4 col-xl-3">
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
             data-bs-keyboard="false" tabindex="-1" role="dialog"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">
                            Add User Role
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12">
                            <label>User Role<span style="color:red">*</span></label>
                            <input type="text" class="form-control" id="txtUserRole" />
                        </div>
                        <div class="col-md-12">
                            <label>Is Active<span style="color:red">*</span></label>
                            <select class="form-control" id="txtisactive">
                                <option>--Select--</option>
                                <option value="True">True</option>
                                <option value="False">False</option>
                            </select>
                        <div class="col-md-12">
                                <label>Optional Data</label>
                                <input type="text" class="form-control" id="ddloptional" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light waves-effect" data-bs-dismiss="modal" onclick="Cancel();">
                            Close
                        </button>
                            <button type="button" class="btn btn-primary waves-effect waves-light" onclick="InsertUserRole();">Save </button>
                    </div>
                </div>
            </div>
        </div>
    </div>>
</div>
@section Scripts{
    <script src="~/js/jquery-3.5.1.min.js"></script>
    <script src="~/projectjs/masteruserrole.js"></script>
    <script src="~/js/jquery.datatables.min.js"></script>
    <script>
      $(document).ready(function(){
            GetUserRoleDetails(0);
      });
    </script>
}