@{
    ViewData["Title"] = "State";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-11">
                                    <h5>Add State</h5>
                                </div>
                                <div class="col-md-1">
                                    <button type="button" class="btn btn-primary waves-effect waves-light"
                                            data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                        Add
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                            </div>
                            <hr />
                            <h5>State Details</h5>
                            <div class="table-responsive">
                                <table id="StateTable" class="table table-bordered table-striped mb-0">
                                    <thead class="table-primary">
                                        <tr>
                                            <th style="text-align:center;">Sr.No</th>
                                            <th style="text-align:center;">State</th>
                                            <th style="text-align:center;">StateId</th>
                                            <th style="text-align:center;">CountryId</th>
                                            <th style="text-align:center;">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="Statelist"></tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-xl-3">
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
             data-bs-keyboard="false" tabindex="-1" role="dialog"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">
                            Add State
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12">
                            <label>State<span style="color:red">*</span></label>
                            <input type="text" class="form-control" id="txtState" />
                        </div>
                        <div class="col-md-12">
                            <label>StateId<span style="color:red">*</span></label>
                            <input type="text" class="form-control" id="txtStateId" />
                        </div>
                        <div class="col-md-12">
                            <label>CountryId<span style="color:red">*</span></label>
                            <input type="text" class="form-control" id="txtCountryId" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light waves-effect" data-bs-dismiss="modal" onclick="Cancel();">
                            Close
                        </button>
                        <button type="button" class="btn btn-primary waves-effect waves-light" onclick="InsertState();">Save </button>
                    </div>
                </div>
            </div>
        </div>
    </div>>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            GetState(0);
        });
        var _Id = '0';
        function InsertState() {
            var State = $('#txtState').val();
            var StateId = $('#txtStateId').val();
            var CountryId = $('#txtCountryId').val();

            if (State === '') {
                alert('#txtState').focus();
                return;
            }
            if (StateId === '') {
                alert('#txtStateId').focus();
                return;
            }
            if (CountryId === '') {
                alert('#txtCountryId').focus();
                return;
            }
            var obj = new Object();
            obj.Id = _Id;
            obj.State = State;
            obj.StateId = StateId;
            obj.CountryId = CountryId;
            Swal.fire({
                title: 'Are you sure?',
                text: "You want to submit detail!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        url: '/Home/InsertState',
                        type: 'POST',
                        data: JSON.stringify(obj),
                        contentType: 'application/json; charset=UTF-8',
                        success: function (data) {
                            if (data.responseCode === 200) {
                                swal.fire(
                                    'Success!',
                                    data.responseMessage,
                                    'success').then(function () {
                                        location.reload();
                                    });
                            }
                            else {
                                console.log(data);
                                alert(data.responseMessage);
                            }
                        },
                        error: function (xhr) {
                            console.log(xhr);
                            Swal.fire('Exception!', 'INTERNAL SERVER ERROR.', 'error');
                        }
                    });
                }
            });
        }
        function GetState(Id) {
            let obj = { Id: Id };
            $.post('/Home/GetState', obj)
                .done(function (res) {
                    if (res.responseCode === 200) {
                        let data = res.responseResult;
                        let html = '';

                        if (Array.isArray(data) && data.length > 0) {
                            data.forEach((v, i) => {
                                html += `
                                            <tr>
                                                <td style="text-align:center;">${i + 1}</td>
                                                        <td style="text-align:center;">${v.State}</td>
                                                        <td style="text-align:center;">${v.StateId}</td>
                                                        <td style="text-align:center;">${v.CountryId}</td>
                                                <td style="text-align:center;">
                                                            <button onclick="EditState(${v.Id})" class="btn btn-success btn-sm">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                    <button onclick="DeleteCity(${v.Id})" class="btn btn-danger btn-sm">
                                                                <i class="far fa-trash-alt"></i>
                                                    </button>
                                                </td>
                                            </tr>`;
                            });
                        } else {
                            html = '<tr><td colspan="5" style="text-align:center;">No data found</td></tr>';
                        }

                        $('#Statelist').html(html);
                    } else {
                        console.error('Response code not 200:', res.responseCode, res.responseMessage);
                        Swal.fire('Error', 'Failed to load city details.', 'error');
                    }
                })
                .fail(function (xhr) {
                    console.error('Request failed:', xhr);
                    Swal.fire('Error', 'Unable to fetch data from the server.', 'error');
                });
        }
        function Cancel() {
            window.location.reload();
        }
        function EditState(Id) {
            _Id = Id;
            $.ajax({
                url: '/Home/GetState?Id=' + Id,
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json; charset=UTF-8',
                success: function (data) {
                    console.log(data);
                    if (data.responseCode === 200) {
                        data = data.responseResult;
                        if (data && data.length > 0) {
                            $('#txtState').val(data[0].State);
                            $('#txtStateId').val(data[0].StateId);
                            $('#txtCountryId').val(data[0].CountryId);
                            $('#staticBackdrop').modal('show');
                        }
                        else {
                            alert('hey');
                        }
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
        }
        function DeleteState(Id) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You want to submit detail!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes'
            }).then((result) => {
                if (result.isConfirmed) {
                    var obj = { Id: Id };
                    $.ajax({
                        url: '/Home/DeleteState',
                        type: 'Delete',
                        data: JSON.stringify(obj),
                        contentType: 'application/json; charset=UTF-8',
                        success: function (data) {
                            if (data.responseCode === 200) {
                                swal.fire(
                                    'Success!',
                                    data.responseMessage,
                                    'success').then(function () {
                                        location.reload();
                                    });
                            }
                            else {
                                console.log(data);
                                alert(data.responseMessage);
                            }
                        },
                        error: function (xhr) {
                            console.log(xhr);
                            Swal.fire('Exception!', 'INTERNAL SERVER ERROR.', 'error');
                        }
                    });
                }
            });
        }
    </script>
}