@{
    ViewData["Title"] = "ViewProfile";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
<style>
    .block-condensed {
        padding: 0;
    }

    .block-heading {
        padding: 10px 20px;
        background: #F5F5F5;
        border-bottom: 1px solid #DBE0E4;
    }

    .faicon {
        color: red;
        cursor: pointer;
        margin-left: 8px;
    }
</style>
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h5>Student Profile</h5>
                            <div class="row">
                                <div class="col-md-4" style="float:left;">
                                    <div class="block block-condensed">
                                        <div class="block-heading margin-bottom-0">
                                            <img src="~/images/school-management-icon.png" height="230px;width:230px;" />
                                        </div>
                                    </div>
                                </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <div class="col-md-6" style="float:right;">
                                    <strong>Student Name:</strong><span>Reetu Verma Verma</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <strong>Father Name:</strong><span>Ram Harsh Verma</span><br /><br />
                                    <strong>Date Of Birth:</strong><span>12-12-2024</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <strong>Gender:</strong><span>Female</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <strong>Category:</strong><span>OBC</span><br /><br />
                                    <strong>Email:</strong><span>reetuv672@gmail.com</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <strong>Mobile No:</strong><span>9696483387</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <br /><br />
                                    <strong>Address:</strong><span>Katra, BahlolNagar Mahmudabaad , Sitapur</span>
                                    <br /><br />
                                    <strong>Address:</strong><span>Katra, BahlolNagar Mahmudabaad , Sitapur ,261204</span>
                                    <br /><br />
                                    <strong>Adhar No:</strong><span>934338095431</span>
                                    <br /><br />
                                    <strong>Download Id Proof:</strong><span><i class="fa fa-download faicon"></i></span>
                                </div>
                            </div>
                            <br /><br />
                            <div class="row">
                                <div class="col-md-8">

                                </div>
                                <div class="col-md-3">
                                    <img src="~/images/6.jpg" height="89px;" width="290px;"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>