@{
    ViewData["Title"] = "AddCropDetails";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-11">
                                    <h5><i class="fa fa-edit"></i>&nbsp;&nbsp;Add Service</h5>
                                </div>
                            </div>
                            <div class="row">
                               
                            </div>
                            <hr />
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>