
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Reetu_School.styles.css" asp-append-version="true" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/fontawesome.min.css" integrity="sha512-B46MVOJpI6RBsdcU307elYeStF2JKT87SsHZfRSkjVi4/iZ3912zXi45X5/CBr/GbCyLx6M1GQtTKYRd52Jxgw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        .card {
            height: 281px !important;
            width: 324px !important;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
            margin: auto;
            margin-bottom: 20%;
            margin-top: 5%;
            padding: 16px;
            background-color: #f9f5ef;
        }

        h4 {
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            text-transform: uppercase;
            color: tomato;
        }

        .button {
            margin-top: 12px;
            margin-left: 66px;
            width: 133px;
        }

            .button:hover {
                background-color: tomato;
            }

        .custom-class {
            margin-left: 72px;
        }
    </style>
</head>
<body>
    <div class="card">
        <h4>Forget Password</h4>
        <div class="form-group" style="position:relative;">
            <div class="input-group mb-1">
                <input type="password" id="txtpassword" class="form-control" placeholder="New Password" required="">
                <div class="input-group-append">
                    <span class="input-group-text bg-white cus-append">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
            <div class="input-group mb-1" style="margin-top:18px;">
                <input type="password" id="confirmpassword" class="form-control" placeholder="Confirm New Password" required="">
                <div class="input-group-append">
                    <span class="input-group-text bg-white cus-append">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-3">
                <button class="btn btn-sm btn-danger button" onclick="SaveData();">SAVE</button>
            </div>
        </div>

    </div>
</body>
<script>
</script>
</html>



