
@{
    ViewData["Title"] = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/fontawesome.min.css" integrity="sha512-B46MVOJpI6RBsdcU307elYeStF2JKT87SsHZfRSkjVi4/iZ3912zXi45X5/CBr/GbCyLx6M1GQtTKYRd52Jxgw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<style>
    .card {
        height: 450px !important;
        width: 324px !important;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        margin: auto;
        margin-bottom: 20%;
        margin-top: 5%;
        padding: 16px;
        background-color: #f9f5ef;
    }

    h4 {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        color: tomato;
    }

    .button {
        margin-top: 12px;
        margin-left: 66px;
        width: 133px;
    }

        .button:hover{
            background-color:tomato;
        }
        .custom-class {
        margin-left: 72px;
    }
</style>
<div class="card">
    <h4>Sign Up</h4>
    <div class="form-group" style="position:relative;">
        <div class="input-group mb-1" style="margin-top:18px;">
            <input type="text" id="txtFullName" class="form-control" placeholder="Full Name" required="">
            <div class="input-group-append">
                <span class="input-group-text bg-white cus-append">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </span>
            </div>
        </div>
        <div class="input-group mb-1" style="margin-top:18px;">
            <input type="email" id="txtEmail" class="form-control" placeholder="Email" required="">
            <div class="input-group-append">
                <span class="input-group-text bg-white cus-append">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </span>
            </div>
        </div>
        <div class="input-group mb-1" style="margin-top:18px;">
            <input type="text" id="txtMobile" class="form-control" placeholder="Mobile No" required="">
            <div class="input-group-append">
                <span class="input-group-text bg-white cus-append">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                </span>
            </div>
        </div>
        <div class="input-group mb-1" style="margin-top:18px;">
            <input type="password" id="password" class="form-control" placeholder="Password" required="">
            <div class="input-group-append">
                <span class="input-group-text bg-white cus-append">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                </span>
            </div>
        </div>
        <div class="input-group mb-1" style="margin-top:18px;">
            <input type="password" id="Confirmpassword" class="form-control" placeholder="Confirm Password" required="">
            <div class="input-group-append">
                <span class="input-group-text bg-white cus-append">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                </span>
            </div>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-3">
            <button class="btn btn-sm btn-danger button" onclick="SaveRegistrationData();">Register</button>
        </div>
        <div class="col-md-8 custom-class">
            <span style="margin-left:31px;">-OR-</span><br />
            <a  href="/Account/Login" style="margin-left:-30px;text-decoration:none;color:black;">I already have a account</a><br />
        </div>
    </div>
</div>
@section Scripts{
    <script>
        var Id = '0';
        function SaveRegistrationData(){
            var UserName = $('#txtFullName').val();
            var Email = $('#txtEmail').val();
            var MobileNo = $('#txtMobile').val();
            var Password = $('#password').val();
            var ConfirmPassword = $('#Confirmpassword').val();
            if (UserName === ''){
                alertError('Enter UserName');
                $('#txtFullName').focus();
                return;
            }
            if (Email === ''){
                alertError('Enter Email');
                $('#txtEmail').focus();
                return;
            }
            if (MobileNo === '') {
                alertError('Enter MobileNo');
                $('#txtMobile').focus();
                return;
            }
            if (Password === '') {
                alertError('Enter Password');
                $('#password').focus();
                return;
            }
            if (ConfirmPassword === '') {
                alertError('Enter ConfirmPassword');
                $('#Confirmpassword').focus();
                return;
            }
            var obj = new Object();
            obj.Id = Id;
            obj.UserName = UserName;
            obj.Email = Email;
            obj.MobileNo = MobileNo;
            obj.Password = Password;
            obj.ConfirmPassword = ConfirmPassword;
            Swal.fire({
                title: 'Are you sure?',
                text: "You want to submit detail!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        url: '/Account/RegistrationCommand',
                        type: 'POST',
                        data: JSON.stringify(obj),
                        contentType: 'application/json; charset=UTF-8',
                        success: function (data) {
                            if (data.responseCode === 200) {
                                Swal.fire(
                                    'Success!',
                                    data.responseMessage,
                                    'success').then(function () {
                                        location.reload();
                                    });
                            }
                            else {
                                console.log(data);
                                alert(data.responseMessage);
                            }
                        },
                        error: function (xhr) {
                            console.log(xhr);
                            Swal.fire('Exception!', 'INTERNAL SERVER ERROR.', 'error');
                        }
                    });
                }
            })

        }
    </script>
}
