@{
    ViewData["Title"] = "SignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<Style>
    .cus-head {
        text-align: center;
        background-color: tomato;
        padding: 10px;
        margin-top: 0px;
        color: #fff;
        font-weight: 800;
    }

    #buttonsubmit {
        width: 100%;
        margin-top: 5%;
        margin-bottom: 1%;
    }
</Style>
<div class="conatiner">
    <div class="conatiner-fluid">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card">
                <h4 class="cus-head">Registration Form</h4>

                <div class="col-md-12">
                    <label>Student Name<span style="color:red;">*</span></label>
                    <input type="text" class="form-control" id="txtName" placeholder="Enter Student Name.." />

                </div>
                <div class="col-md-12">
                    <label>Father Name<span style="color:red;">*</span></label>
                    <input type="text" class="form-control" id="txtFatherName" placeholder="Enter Father Name.." />

                </div>
                <div class="col-md-12">
                    <label>Mother Name<span style="color:red;">*</span></label>
                    <input type="text" class="form-control" id="txtMotherName" placeholder="Enter Mother Name.." />

                </div>
                <div class="col-md-12">
                    <label>Email<span style="color:red;">*</span></label>
                    <input type="email" class="form-control" id="txtEmail" placeholder="Enter Email.." />

                </div>
                <div class="col-md-12">
                    <label>Date of Birth<span style="color:red;">*</span></label>
                    <input type="date" class="form-control" id="txtDate" placeholder="Enter DOB.." />
                </div>
                <div class="col-md-12">
                    <label>Mobile Number<span style="color:red;">*</span></label>
                    <input type="number" class="form-control" id="txtMobileNumber" placeholder="Enter Mobile No.." />
                </div>
                <div class="col-md-12">
                    <label>Courses<span style="color:red;">*</span></label>
                    <Select class="form-control" id="DDLCourses">
                        <option>:: SELECT ::</option>
                        <option>HighSchool</option>
                        <option>InterMediate</option>
                        <option>Diplome</option>
                        <option>BTech</option>
                        <option>MTech</option>
                    </Select>
                </div>
                <div class="col-md-12">
                    <label>Password<span style="color:red;">*</span></label>
                    <input type="password" class="form-control" id="txtpassword" />
                </div>
                <div class="col-md-12">
                    <label>Confirm Password<span style="color:red;">*</span></label>
                    <input type="password" class="form-control" id="txtconfirmpassword" />
                </div>
                <div class="col-md-12">
                    <input type="button" class="btn btn-success btn-sm" id="buttonsubmit" value="Submit" onclick="SignUp();" />
                </div>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
</div>
<div class="row clearfix" style="margin-top:5%;">
        <div class="col-md-12">
        <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Student Name</th>
                        <th>Father Name</th>
                        <th>Mother Name</th>
                        <th>Email</th>
                        <th>DOB</th>
                        <th>Mobile Number</th>
                        <th>Courses</th>
                        <th>Password</th>
                        <th>Confirm Password</th>
                    </tr>
                </thead>
                <tbody id="ordertable">

                </tbody>
            </table>

        </div>
</div>
@section Scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="~/projectjs/signup.js"></script>
    <script>
        GetSignUpDetail();
    </script>
}

